{% extends "base.html" %} 
{% block title %}Об авторе{% endblock %}
{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block header %}Об авторе{% endblock %}
{% block content %}

    <p class="form__info-text">
        <br>Evgenii Katolichenko - автор, студент курса "Python-разработчик" в Яндекс.Практикум. Это учебный проект.
        <br>
        <br>Если есть вопросы или пожелания по проекту пишите на почту - <a href="mailto:evg.katolichenko@gmail.com?subject=Вопрос по Foodgram">evg.katolichenko@gmail.com</a>
        <br>
        <br>Ссылка на мой GiHub: <a href="https://github.com/goglogige"> goglogige </a>
    </p>

{% endblock %}
