{% extends "base.html" %} 
{% block title %}Технологии{% endblock %}
{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block header %}Технологии{% endblock %}
{% block content %}

    <p class="form__info-text">
        <br>Проект написан на Python 3.8.10, с использованием фраймворка Django 3.0.5.
        <br>
        <br>БД - использовалась SQLite3 при разработке и PostgreSQL на боевом сервере.
        <br>
        <br>Используется Docker - проект запущен в 3х контейнерах: БД, статика (Nginx) и само приложение.
        <br>
        <br>Подключен GitHub Actions с тестированием на соответствие flak8, автопуш на DockerHub, автодеплой на боевой сервер и оповещение в телеграмм-бот. 
    </p>

{% endblock %}