{% extends "base.html" %}
{% block title %}Сброс пароля прошёл успешно{% endblock %}
{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block header %}Сброс пароля прошёл успешно{% endblock %}
{% block content %}

    <div class="form-container">
        <form class="form">
            <p class="form__info-text">
                Проверьте свою почту, вам должно прийти письмо с ссылкой для восстановления пароля.
            </p>
        </form>
    </div>

{% endblock %}