<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} | Foodgram</title>
    {% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
    {% endblock %}
</head>

<body class="body">
<header class="header">
    {% include 'includes/nav.html' %}*
</header>
    <main class="main container">
        {% block main %}
        <div class="main__header">
            <h1 class="main__title">{% block header %}{% endblock %}</h1>
            {% block under_h1 %}{% endblock %}
        </div>
        {% block content %}{% endblock %}
        {% endblock %} 
    </main>
    {% include 'includes/footer.html' %}
    {% block script %}{% endblock %}
</body>
</html>