{% extends "base.html" %}
{% block title %}{{ recipe.recipe_name }}{% endblock %}
{% block static %}
{% load static %}  
    <link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock %}
    {% block main %}
    {% load user_filters %}
    {% csrf_token %}

        <div class="single-card" data-id="{{ recipe.id }}" data-author="{{ recipe.author.id }}">
            {% load thumbnail %}
            {% thumbnail recipe.image "480x480" crop="center" upscale=True as im %}
            <img src="{{ im.url }}" alt="{{ recipe.recipe_name }}" class="single-card__image">
            {% endthumbnail %}
            <div class="single-card__info">
                <div class="single-card__header-info">
                    <h1 class="single-card__title">{{ recipe.recipe_name }}</h1>
                    <div class="single-card__favorite">
                        {% if star %}
                        <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_big icon-favorite_active"></span></button>
                        <div class="single-card__favorite-tooltip tooltip">Убрать из избранного</div>
                        {% else %}
                        <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite icon-favorite_big"></span></button>
                        <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
                        {% endif %}
                    </div>
                </div>
                <ul class="single-card__items">
                    {% for tag in recipe.tags.all %}
                    {% if tag.slug == 'breakfast'%}
                        <li class="single-card__item"><span class="badge badge_style_orange">{{ tag.title }}</span></li>
                    {% elif tag.slug == 'lunch'%}
                        <li class="single-card__item"><span class="badge badge_style_green">{{ tag.title }}</span></li>
                    {% else %}
                        <li class="single-card__item"><span class="badge badge_style_purple">{{ tag.title }}</span></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <div class="single-card__items single-card__items_column">
                    <p class="single-card__text"><span class="icon-time"></span> {{ recipe.time }}</p>
                    <ul class="single-card__items">
                        <li class="single-card__item">
                            <p class="single-card__text">
                            <span class="icon-user"></span>
                                <a href="{% url 'profile' recipe.author.username %}"> 
                                {% if recipe.author.first_name != '' %}
                                    {{ recipe.author.get_full_name }}
                                {% else %}
                                    {{ recipe.author.username }}
                                {% endif %}
                                </a>
                            </p>
                        </li>
                        {% if user.is_authenticated and user.is_superuser or user == recipe.author %}
                        <li class="single-card__item">  <a style="margin-left: 2.5em" href="{% url 'recipe_edit' recipe.slug %}" class="single-card__text">Редактировать рецепт</a></li>
                        {% endif %}
                    </ul>
                </div>
                <ul class="single-card__items">
                    <li class="single-card__item"><button class="button button_style_blue" name="purchases" data-out><span class="icon-plus"></span> Добавить в покупки</button></li>
                    {% if user.is_authenticated %}
                    <li class="single-card__item"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></li>
                    {% endif %}
                </ul>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Ингридиенты:</h3>
                    <div class="single-card__items single-card__items_column">
                        {% for obj in recipe_ingredient_list %}
                            <p class=" single-card__section-item">{{ obj.ingredient.title }} - {{ obj.amount }} {{ obj.ingredient.dimension }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Описание:</h3>
                    <p class=" single-card__section-text">{{ recipe.recipe_description }}</p>
                </div>
            </div>
        </div>
    {% endblock %}
 
{% block script %}
<script src="{% static './js/components/Purchases.js' %}"></script>
<script src="{% static './js/components/Favorites.js' %}"></script>
<script src="{% static './js/components/Subscribe.js' %}"></script>
<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/MainCards.js' %}"></script>
<script src="{% static './js/components/SingleCard.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>
<script src="{% static './js/api/Api.js' %}"></script>
<script src="{% static './singlePage.js' %}"></script>
{% endblock %}
