{% load user_filters %}
<ul class="tags">
    <li class="tags__item">
        <a  id="breakfast"
            class="tags__checkbox tags__checkbox_style_orange
                {% if 'breakfast' in tags %}tags__checkbox_active{% endif %}"
            href="{% if 'breakfast' in tags %}{% url request.resolver_match.url_name %}{{ tags|cut_tag:'breakfast' }}
                {% else %}{% url request.resolver_match.url_name %}{{ tags|add_tag:'breakfast' }}{% endif %}">
        </a>
        <label for="lunch" class="tags__label">Завтрак</label>
    </li>
    <li class="tags__item">
        <a  id="lunch"
            class="tags__checkbox tags__checkbox_style_green
                {% if 'lunch' in tags %}tags__checkbox_active{% endif %}"
            href="{% if 'lunch' in tags %}{% url request.resolver_match.url_name %}{{ tags|cut_tag:'lunch' }}
                {% else %}{% url request.resolver_match.url_name %}{{ tags|add_tag:'lunch' }}{% endif %}">
        </a>
        <label for="lunch" class="tags__label">Обед</label>
    </li>
    <li class="tags__item">
        <a  id="dinner"
            class="tags__checkbox tags__checkbox_style_purple
                {% if 'dinner' in tags %}tags__checkbox_active{% endif %}" 
            href="{% if 'dinner' in tags %}{% url request.resolver_match.url_name %}{{ tags|cut_tag:'dinner' }}
                {% else %}{% url request.resolver_match.url_name %}{{ tags|add_tag:'dinner' }}{% endif %}">
        </a>
        <span for="dinner" class="tags__label">Ужин</span>
    </li>


